
<h3>-- STEP 2 --</h3>

<pre>
-want to fill in profile data now?

-register w/ ORCID and pull in profile data? => register_orcid

-nah, I'll do it later => go to destination if available

</pre>

<!-- ToDo put this in a collapsible block, show if user selects "enter  by hand above? -->

<%= render "profile_form" %>
