<h2>ORCID Registration wizard</h2>

<p>&nbsp;</p>

<h4>Do you already have an ORCID?</h4>


<p>
  <b>YES</b>  <%= link_to "Link my ORCID account with my JPC account now", "/auth/orcid?destination="+(params[:destination] || "" ) %>
</p> 

<p>
  <b>NO</b>&nbsp; <a href="http://www.orcid.org">Go to the ORCID registration page</a> to sign up, then return to this page.
</p>


