<h2>ORCID Registration wizard</h2>

<p>&nbsp;</p>

<h4>Do you already have an ORCID?</h4>

<p>


<b>Yes</b> =&gt;  <%= link_to "Link my ORCID account with my DemoMSapp
			       account", "/auth/orcid?destination="+(params[:destination] || "" ) %>
 

<br />

<b>No</b> =&gt; Go to the <a href="">ORCID
  registration page</a> to sign up, then return here.

<br />

[I don't remember] ? <i>do we really need this?</i>

</p>
