
<p>
  <b>Commenter:</b>
  <%= comment.commenter %>
</p>
 
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>


<p> 
  <% if can? :update, comment %>  
    <%= link_to "Edit", edit_comment_path(comment) %> |  
  <% end %>  
  <% if can? :destroy, comment %>  
    <%= link_to "Destroy", comment, :method => :delete, :confirm => "Are you sure?" %>  
  <% end %>  
</p>  
