<h2>Welcome to the DemoMSapp</h2>


<p>

 <% if user_signed_in? %>

  <% ext_authn =  current_user.authentications %>

<p>
   Hello <%= current_user.email %> What would you like to do?
</p>



<%= link_to new_manuscript_path do %>
  <h3>Submit a manuscript</h3>
<% end %>

<%= link_to users_register_orcid_path( :destination => "submit_manuscript") do %>
  <h3>Register my ORCID</h3>
<% end %>
<br />

 <% else %>
To do anything of interest on this demo site, you need to sign in: 
  <%= link_to "Sign in / sign up", new_user_session_path %> 
 <% end %>  
</div>

</p>
